Source: siduction-keyring
Section: misc
Priority: extra
Maintainer: Alf Gaida <agaida@siduction.org>
XSBC-Original-Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: gnupg
Standards-Version: 3.9.2
Vcs-Git: git://git.siduction.org/packages/siduction-repository/siduction-keyring.git
Vcs-Browser: http://git.siduction.org/?p=packages/siduction-repository/siduction-keyring.git
Homepage: http://http://svn.berlios.de/wsvn/fullstory/aptosid-keyring

Package: siduction-archive-keyring
Architecture: all
Depends: ${misc:Depends},
 apt (>= 0.7.25.1),
 debian-archive-keyring,
 gpgv
Recommends: gnupg
Description: GnuPG archive keys of the siduction archive
 The archive project digitally signs its release files. This package contains
 the archive keys used for that and can be used to support signature 
 verification ("apt-secure") for:
  - Release signature verification for siduction (Release.gpg)
  - Packages, Sources md5sum verification against Release
